
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_ErrorLayout.cshtml";
}

<div class="error-page">
    
    <div class="error-content">
        <h3><i class="fa fa-warning text-red"></i> Oops! Something went wrong.</h3>

        <p>
            We will work on fixing that right away.

        </p>
    </div>
    <!-- /.error-content -->
</div>

