<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  <section name="entityFramework"
    type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
    requirePermission="false"/>
  </configSections>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <connectionStrings>
    <!--<add name="DomainDb" connectionString="metadata=res://*/DomainDb.csdl|res://*/DomainDb.ssdl|res://*/DomainDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-I7NGPI4;initial catalog=BMSS-DomainLIVE19052020;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="DomainDb"
      connectionString="metadata=res://*/DomainDb.csdl|res://*/DomainDb.ssdl|res://*/DomainDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-I7NGPI4;initial catalog=BM-DomainLive;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient"/>
    <add name="PlannerDb"
      connectionString="metadata=res://*/PlannerDb.csdl|res://*/PlannerDb.ssdl|res://*/PlannerDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-I7NGPI4;initial catalog=BM-DomainLive;user id=sa;password=B1Admin;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient"/>
  </connectionStrings>
</configuration>