<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    
    <add key="DB_Server" value="LAPTOP-JN2PNONG"/>
    <add key="Company_Server" value="LAPTOP-JN2PNONG"/>
    <add key="Company_DB" value="BM_LIVE" />
    <add key="Custom_DB" value="BM-DomainLIVE" />
    <add key="Company_Username" value="b1i"/>
    <add key="Company_Password" value="1234"/>
    <add key="DB_Username" value="sa"/>
    <add key="DB_Password" value="B1Admin"/>


    <!--<add key="DB_Server" value="JYRSAP"/>
    <add key="Company_Server" value="JYRSAP"/>
    <add key="Company_DB" value="BM_LIVE" />
    <add key="Custom_DB" value="BM-DomainLIVE" />
    <add key="Company_Username" value="b1i"/>
    <add key="Company_Password" value="1234"/>
    <add key="DB_Username" value="sa"/>
    <add key="DB_Password" value="B1Admin"/>-->
    
    <!--<add key="DB_Server" value="JYRSAP"/>
    <add key="Company_Server" value="JYRSAP"/>
    <add key="Company_DB" value="BM_TRAIN" />
    <add key="Custom_DB" value="BM-Domain" />
    <add key="Company_Username" value="b1i"/>
    <add key="Company_Password" value="1234"/>
    <add key="DB_Username" value="sa"/>
    <add key="DB_Password" value="B1Admin"/>-->
    
    
    <!--<add key="DB_Server" value="JYRSAP"/>
    <add key="Company_Server" value="JYRSAP"/>
    <add key="Company_DB" value="BM_TRAIN2" />
    <add key="Custom_DB" value="BM-Domain2" />
    <add key="Company_Username" value="b1i"/>
    <add key="Company_Password" value="1234"/>
    <add key="DB_Username" value="sa"/>
    <add key="DB_Password" value="B1Admin"/>-->
    <!--<add key="DB_Server" value="JYRSAP"/>
    <add key="Company_Server" value="JYRSAP"/>
    <add key="Company_DB" value="SL_TRAIN" />
    <add key="Custom_DB" value="BMSS-Domain" />
    <add key="Company_Username" value="manager"/>
    <add key="Company_Password" value="1234"/>
    <add key="DB_Username" value="sa"/>
    <add key="DB_Password" value="B1Admin"/>-->
    <!--<add key="DB_Server" value="JYRSAP"/>
    <add key="Company_Server" value="JYRSAP"/>
    <add key="Company_DB" value="SL_LIVE" />
    <add key="Custom_DB" value="BMSS-DomainLIVE" />
    <add key="Company_Username" value="b1i"/>
    <add key="Company_Password" value="1234"/>
    <add key="DB_Username" value="sa"/>
    <add key="DB_Password" value="B1Admin"/>-->
    
    <!--<add key="DB_Server" value="DESKTOP-I7NGPI4" />
    <add key="Company_Server" value="DESKTOP-I7NGPI4" />
    <add key="Company_DB" value="BM_LIVE" />
    <add key="Custom_DB" value="BM-DomainLIVE" />
    <add key="Company_Username" value="manager" />
    <add key="Company_Password" value="1234" />
    <add key="DB_Username" value="sa" />
    <add key="DB_Password" value="B1Admin" />-->
  </appSettings>
  <connectionStrings>
    
    <add name="Custom_CRM_DB_ConnectionString" connectionString="Server=LAPTOP-JN2PNONG;Database=BM-DomainLIVE;User Id=sa;Password=B1Admin;" providerName="System.Data.SqlClient"/>
    <add name="SAP_DB_ConnectionString" connectionString="Server=LAPTOP-JN2PNONG;Database=BM_LIVE;User Id=sa;Password=B1Admin;" providerName="System.Data.SqlClient"/>
    <add name="Custom_CRM_DB_ConnectionString_ADODB" connectionString="Provider=SQLOLEDB.1;server=LAPTOP-JN2PNONG;Database=BM-DomainLIVE;Uid=sa;password=B1Admin" providerName="System.Data.SqlClient"/>
    <add name="SAP_DB_ConnectionString_ADODB" connectionString="Provider=SQLOLEDB.1;server=LAPTOP-JN2PNONG;Database=BM_LIVE;Uid=sa;password=B1Admin" providerName="System.Data.SqlClient"/>
    <add name="DomainDb" connectionString="metadata=res://*/DomainDB.csdl|res://*/DomainDB.ssdl|res://*/DomainDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-JN2PNONG;initial catalog=BM-DomainLIVE;user id=sa;password=B1Admin;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EFSapDb" providerName="System.Data.SqlClient" connectionString="Data Source=LAPTOP-JN2PNONG;Initial Catalog=BM_LIVE;User ID=sa;Password=B1Admin;MultipleActiveResultSets=true;" />


    <!--<add name="Custom_CRM_DB_ConnectionString" connectionString="Server=JYRSAP;Database=BM-DomainLIVE;User Id=sa;Password=B1Admin;" providerName="System.Data.SqlClient"/>
    <add name="SAP_DB_ConnectionString" connectionString="Server=JYRSAP;Database=BM_LIVE;User Id=sa;Password=B1Admin;" providerName="System.Data.SqlClient"/>
    <add name="Custom_CRM_DB_ConnectionString_ADODB" connectionString="Provider=SQLOLEDB.1;server=JYRSAP;Database=BM-DomainLIVE;Uid=sa;password=B1Admin" providerName="System.Data.SqlClient"/>
    <add name="SAP_DB_ConnectionString_ADODB" connectionString="Provider=SQLOLEDB.1;server=JYRSAP;Database=BM_LIVE;Uid=sa;password=B1Admin" providerName="System.Data.SqlClient"/>
    <add name="DomainDb" connectionString="metadata=res://*/DomainDB.csdl|res://*/DomainDB.ssdl|res://*/DomainDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=JYRSAP;initial catalog=BM-DomainLIVE;user id=sa;password=B1Admin;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EFSapDb" providerName="System.Data.SqlClient" connectionString="Data Source=JYRSAP;Initial Catalog=BM_LIVE;User ID=sa;Password=B1Admin;MultipleActiveResultSets=true;" />-->

    <!--<add name="Custom_CRM_DB_ConnectionString" connectionString="Server=JYRSAP;Database=BM-Domain;User Id=sa;Password=B1Admin;" providerName="System.Data.SqlClient"/>
    <add name="SAP_DB_ConnectionString" connectionString="Server=JYRSAP;Database=BM_TRAIN;User Id=sa;Password=B1Admin;" providerName="System.Data.SqlClient"/>
    <add name="Custom_CRM_DB_ConnectionString_ADODB" connectionString="Provider=SQLOLEDB.1;server=JYRSAP;Database=BM-Domain;Uid=sa;password=B1Admin" providerName="System.Data.SqlClient"/>
    <add name="SAP_DB_ConnectionString_ADODB" connectionString="Provider=SQLOLEDB.1;server=JYRSAP;Database=BM_TRAIN;Uid=sa;password=B1Admin" providerName="System.Data.SqlClient"/>
    <add name="DomainDb" connectionString="metadata=res://*/DomainDB.csdl|res://*/DomainDB.ssdl|res://*/DomainDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=JYRSAP;initial catalog=BM-Domain;user id=sa;password=B1Admin;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EFSapDb" providerName="System.Data.SqlClient" connectionString="Data Source=JYRSAP;Initial Catalog=BM_TRAIN;User ID=sa;Password=B1Admin;MultipleActiveResultSets=true;" />-->
    
    
    <!--<add name="Custom_CRM_DB_ConnectionString" connectionString="Server=JYRSAP;Database=BM-Domain2;User Id=sa;Password=B1Admin;" providerName="System.Data.SqlClient"/>
    <add name="SAP_DB_ConnectionString" connectionString="Server=JYRSAP;Database=BM_TRAIN2;User Id=sa;Password=B1Admin2;" providerName="System.Data.SqlClient"/>
    <add name="Custom_CRM_DB_ConnectionString_ADODB" connectionString="Provider=SQLOLEDB.1;server=JYRSAP;Database=BM-Domain2;Uid=sa;password=B1Admin" providerName="System.Data.SqlClient"/>
    <add name="SAP_DB_ConnectionString_ADODB" connectionString="Provider=SQLOLEDB.1;server=JYRSAP;Database=BM_TRAIN2;Uid=sa;password=B1Admin" providerName="System.Data.SqlClient"/>-->
    <!--<add name="Custom_CRM_DB_ConnectionString" connectionString="Server=JYRSAP;Database=BMSS-Domain;User Id=sa;Password=B1Admin;" providerName="System.Data.SqlClient"/>
    <add name="SAP_DB_ConnectionString" connectionString="Server=JYRSAP;Database=SL_TRAIN;User Id=sa;Password=B1Admin;" providerName="System.Data.SqlClient"/>
    <add name="Custom_CRM_DB_ConnectionString_ADODB" connectionString="Provider=SQLOLEDB.1;server=JYRSAP;Database=BMSS-Domain;Uid=sa;password=B1Admin" providerName="System.Data.SqlClient"/>
    <add name="SAP_DB_ConnectionString_ADODB" connectionString="Provider=SQLOLEDB.1;server=JYRSAP;Database=SL_TRAIN;Uid=sa;password=B1Admin" providerName="System.Data.SqlClient"/>-->
    <!--<add name="Custom_CRM_DB_ConnectionString" connectionString="Server=JYRSAP;Database=BMSS-DomainLIVE;User Id=sa;Password=B1Admin;" providerName="System.Data.SqlClient"/>
    <add name="SAP_DB_ConnectionString" connectionString="Server=JYRSAP;Database=SL_LIVE;User Id=sa;Password=B1Admin;" providerName="System.Data.SqlClient"/>
    <add name="Custom_CRM_DB_ConnectionString_ADODB" connectionString="Provider=SQLOLEDB.1;server=JYRSAP;Database=BMSS-DomainLIVE;Uid=sa;password=B1Admin" providerName="System.Data.SqlClient"/>
    <add name="SAP_DB_ConnectionString_ADODB" connectionString="Provider=SQLOLEDB.1;server=JYRSAP;Database=SL_LIVE;Uid=sa;password=B1Admin" providerName="System.Data.SqlClient"/>-->
    
    
    
    
    <!--<add name="Custom_CRM_DB_ConnectionString" connectionString="Server=DESKTOP-I7NGPI4;Database=BM-DomainLIVE;User Id=sa;Password=B1Admin;" providerName="System.Data.SqlClient" />
    <add name="SAP_DB_ConnectionString" connectionString="Server=DESKTOP-I7NGPI4;Database=BM_LIVE;User Id=sa;Password=B1Admin;" providerName="System.Data.SqlClient" />
    <add name="Custom_CRM_DB_ConnectionString_ADODB" connectionString="Provider=SQLOLEDB.1;server=DESKTOP-I7NGPI4;Database=BM-DomainLIVE;Uid=sa;password=B1Admin" providerName="System.Data.SqlClient" />
    <add name="SAP_DB_ConnectionString_ADODB" connectionString="Provider=SQLOLEDB.1;server=DESKTOP-I7NGPI4;Database=BM_LIVE;Uid=sa;password=B1Admin" providerName="System.Data.SqlClient" />
    <add name="DomainDb" connectionString="metadata=res://*/DomainDB.csdl|res://*/DomainDB.ssdl|res://*/DomainDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-I7NGPI4;initial catalog=BM-DomainLIVE;user id=sa;password=B1Admin;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EFSapDb" providerName="System.Data.SqlClient" connectionString="Data Source=DESKTOP-I7NGPI4;Initial Catalog=BM_LIVE;User ID=sa;Password=B1Admin;MultipleActiveResultSets=true;" />-->
  
  
  </connectionStrings>
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog" />
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information" />
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter" />
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>