@using BMSS.WebUI.Models.RoleViewModels
@model CreateRoleModel

@{

    AjaxOptions ajaxOpts = new AjaxOptions
    {
        OnSuccess = "AjaxFormSuccess('" + Model.AjaxOptions.AddActionTargetId + "', '" + Model.AjaxOptions.AddFormId + "', data)",
        Url = Url.Action(Model.AjaxOptions.FormAddAction),
        HttpMethod = "POST"
    };

}
<div class="box box-info">
    <div class="box-header with-border">
        <h3 class="box-title">Add Role</h3>
    </div>
    @using (Ajax.BeginForm(Model.AjaxOptions.FormAddAction, null, ajaxOpts, new { id = Model.AjaxOptions.AddFormId }))
    {
        @Html.ValidationSummary()
        @Html.AntiForgeryToken()


        <div class="box-body">
            <div class="form-group row">
                @Html.LabelFor(x => x.Name, new { @class = "col-sm-2 col-form-label" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
                </div>
            </div>          
        </div>
        <div class="box-footer">
            <button type="submit" class="btn btn-primary pull-right btn-sm">Save</button>
        </div>
    }
</div>
